{{! html outline for client side view }}

<div class="container">
    <!-- Content here -->
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <h1>Eat The Burger:</h1>
        </div>
        <div class="d-flex justify-content-center">
            <p><img src="https://aht.seriouseats.com/images/2011/08/20110824-pusheen-burger.gif" alt="cat on burg"
                    width="300" height="300">
            </p>
        </div>
    </div>
</div>
</div>
{{! connect values, with burger, to client-side}}
<ul>
    {{#each burgers}}
    {{#unless devoured}}
    <li>
        {{burger_name}}
        <button type="submit" id={{id}} class="btn btn-info">DEVOUR</button>
    </li>
    {{/unless}}
    {{/each}}
</ul>

{{! Trying to connect 'devour' buttons to go to right side of screen}}
<ul>
    {{#each burgers}}
    {{#if devoured}}
    <li>
    {{burger_name}}
    </li>
    {{/if}}
    {{/each}}
</ul>
<div class="d-flex justify-content-center">
    <h2>Add a Burger</h2>
    <form class="create-form">

        <div class="form-group">
            <label for="burgerName"></label>
            <input type="text" id="burgerName" name="name">
        </div>
        <button type="submit">Add Burger</button>
    </form>
</div>