{{! html outline doe client side view }}

<div class="container">
    <!-- Content here -->
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <h1>Eat The Burger:</h1>
        </div>
        <div class="d-flex justify-content-center">
            <p><img src="https://aht.seriouseats.com/images/2011/08/20110824-pusheen-burger.gif" alt="cat on burg"
                    width="300" height="300">
            </p>
            </div>
            <div class="d-flex justify-content-center">
                <div class="form-group">
                    <input type="submitBurger" class="form-control" id="exFormBurger">
                </div>
                <p>
                <button type="button" class="btn btn-outline-info">SUBMIT</button>
                </p>
            </div>
        </div>